In [1]:
import pandas as pd

In [2]:
rsvp_guests = pd.DataFrame([{'name': 'Adam Ziony', 'side': 'Groom', 'people_count': 3, 'people_arrived_count': 2, 'comments': 'baby chair'},
                            {'name': 'Bar Sabati', 'side': 'Bride', 'people_count': 1, 'people_arrived_count': 0, 'comments': ''},
                            {'name': 'Cohen Family', 'side': 'Bride', 'people_count': 8, 'people_arrived_count': 6, 'comments': 'baby chair'},
                            {'name': 'Dan Ziony', 'side': 'Groom', 'people_count': 2, 'people_arrived_count': 2, 'comments': ''}])

In [3]:
rsvp_guests

           name   side  people_count  people_arrived_count    comments
0    Adam Ziony  Groom             3                     2  baby chair
1    Bar Sabati  Bride             1                     0
2  Cohen Family  Bride             8                     6  baby chair
3     Dan Ziony  Groom             2                     2

# Bride Guests

In [5]:
rsvp_guests[rsvp_guests['side'] == 'Bride']

           name   side  people_count  people_arrived_count    comments
1    Bar Sabati  Bride             1                     0
2  Cohen Family  Bride             8                     6  baby chair

# Groom Guests

In [6]:
rsvp_guests[rsvp_guests['side'] == 'Groom']

         name   side  people_count  people_arrived_count    comments
0  Adam Ziony  Groom             3                     2  baby chair
3   Dan Ziony  Groom             2                     2

# Guests who did not confirm arrival

In [7]:
rsvp_guests[rsvp_guests['people_arrived_count'] == 0]

         name   side  people_count  people_arrived_count comments
1  Bar Sabati  Bride             1                     0